<!-- Nadchodzące rezerwacje -->
<p class="text-center"> NADCHODZĄCE REZERWACJE </p>
<table class="table" *ngIf="reservations && reservations.length > 0">
    
    <thead>
       
      <tr>
        <th>Data</th>
        <th>Email</th>
        <th>Fryzjer</th>
        <th>Numer telefonu</th>
        <th>Usługa</th>
        <th>Status</th>
        <th>Czas</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let reservation of reservations">
        <tr *ngIf="reservation.status === 'Zatwierdzona'">
          <td>{{ reservation.date }}</td>
          <td>{{ reservation.email }}</td>
          <td>
            <ng-container *ngIf="reservation.hairdresserInfo">
              {{ reservation.hairdresserInfo.name }}
            </ng-container>
          </td>
          <td>{{ reservation.phoneNumber }}</td>
          <td>
            <ng-container *ngIf="reservation.serviceInfo">
              {{ reservation.serviceInfo.name }}
            </ng-container>
          </td>
          <td>{{ reservation.status }}</td>
          <td>{{ reservation.time }}</td>
        </tr>
      </ng-container>
    </tbody>
  </table>
  
  <!-- Odbyte rezerwacje -->


  <p class="text-center"> ODBYTE REZERWACJE </p>
  <table class="table" *ngIf="reservations && reservations.length > 0">
    <thead>
      <tr>
        <th>Data</th>
        <th>Email</th>
        <th>Fryzjer</th>
        <th>Numer telefonu</th>
        <th>Usługa</th>
        <th>Status</th>
        <th>Czas</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let reservation of reservations">
        <tr *ngIf="reservation.status === 'Odbyta'">
          <td>{{ reservation.date }}</td>
          <td>{{ reservation.email }}</td>
          <td>
            <ng-container *ngIf="reservation.hairdresserInfo">
              {{ reservation.hairdresserInfo.name }}
            </ng-container>
          </td>
          <td>{{ reservation.phoneNumber }}</td>
          <td>
            <ng-container *ngIf="reservation.serviceInfo">
              {{ reservation.serviceInfo.name }}
            </ng-container>
          </td>
          <td>{{ reservation.status }}</td>
          <td>{{ reservation.time }}</td>
        </tr>
      </ng-container>
    </tbody>
  </table>
  
  <p class="text-center"> ODRZUCONE  LUB ZREZYGNOWANE REZERWACJE   </p>
  <table class="table" *ngIf="reservations && reservations.length > 0">
    <thead>
      <tr>
        <th>Data</th>
        <th>Email</th>
        <th>Fryzjer</th>
        <th>Numer telefonu</th>
        <th>Usługa</th>
        <th>Status</th>
        <th>Czas</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let reservation of reservations">
        <tr *ngIf="reservation.status === 'Odrzucona' || reservation.status === 'Zrezygnowano'">
          <td>{{ reservation.date }}</td>
          <td>{{ reservation.email }}</td>
          <td>
            <ng-container *ngIf="reservation.hairdresserInfo">
              {{ reservation.hairdresserInfo.name }}
            </ng-container>
          </td>
          <td>{{ reservation.phoneNumber }}</td>
          <td>
            <ng-container *ngIf="reservation.serviceInfo">
              {{ reservation.serviceInfo.name }}
            </ng-container>
          </td>
          <td>{{ reservation.status }}</td>
          <td>{{ reservation.time }}</td>
        </tr>
      </ng-container>
    </tbody>
  </table>
  
  <p class="text-center"> NIEODBYTE REZERWACJE </p>
  <table class="table" *ngIf="reservations && reservations.length > 0">
    <thead>
      <tr>
        <th>Data</th>
        <th>Email</th>
        <th>Fryzjer</th>
        <th>Numer telefonu</th>
        <th>Usługa</th>
        <th>Status</th>
        <th>Czas</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let reservation of reservations">
        <tr *ngIf="reservation.status === 'Nieodbyta'">
          <td>{{ reservation.date }}</td>
          <td>{{ reservation.email }}</td>
          <td>
            <ng-container *ngIf="reservation.hairdresserInfo">
              {{ reservation.hairdresserInfo.name }}
            </ng-container>
          </td>
          <td>{{ reservation.phoneNumber }}</td>
          <td>
            <ng-container *ngIf="reservation.serviceInfo">
              {{ reservation.serviceInfo.name }}
            </ng-container>
          </td>
          <td>{{ reservation.status }}</td>
          <td>{{ reservation.time }}</td>
        </tr>
      </ng-container>
    </tbody>
  </table>
  <label>Wyszukaj rezerwacje dla fryzjera:</label>
<select [(ngModel)]="selectedHairdresserId" (change)="searchByHairdresser()">
  <option value="">Wszyscy fryzjerzy</option>
  <option *ngFor="let hairdresser of hairdressers" [value]="hairdresser.id">
    {{ hairdresser.name }}
  </option>
</select>
<button (click)="resetSearch()">Wyczyść</button>

<ng-container *ngIf="filteredReservations && filteredReservations.length > 0">
  <!-- Nadchodzące rezerwacje -->
  <p class="text-center"> NADCHODZĄCE REZERWACJE </p>
  <table class="table">
    <!-- Table header -->
    <thead>
      <tr>
        <th>Data</th>
        <th>Email</th>
        <th>Fryzjer</th>
        <th>Numer telefonu</th>
        <th>Usługa</th>
        <th>Status</th>
        <th>Czas</th>
      </tr>
    </thead>
    <!-- Table body -->
    <tbody>
      <tr *ngFor="let reservation of filteredReservations">
        <ng-container *ngIf="reservation.status === 'Zatwierdzona'">
          <td>{{ reservation.date }}</td>
          <td>{{ reservation.email }}</td>
          <td>
            <ng-container *ngIf="reservation.hairdresserInfo">
              {{ reservation.hairdresserInfo.name }}
            </ng-container>
          </td>
          <td>{{ reservation.phoneNumber }}</td>
          <td>
            <ng-container *ngIf="reservation.serviceInfo">
              {{ reservation.serviceInfo.name }}
            </ng-container>
          </td>
          <td>{{ reservation.status }}</td>
          <td>{{ reservation.time }}</td>
        </ng-container>
      </tr>
    </tbody>
  </table>

  <!-- Odbyte rezerwacje -->
  <p class="text-center"> ODBYTE REZERWACJE </p>
  <table class="table">
    <!-- Similar structure as above for Odbyte rezerwacje -->
  </table>

  <!-- Odrzucone lub zrezygnowane rezerwacje -->
  <p class="text-center"> ODRZUCONE LUB ZREZYGNOWANE REZERWACJE </p>
  <table class="table">
    <!-- Similar structure as above for Odrzucone lub zrezygnowane rezerwacje -->
  </table>

  <!-- Nieodbyte rezerwacje -->
  <p class="text-center"> NIEODBYTE REZERWACJE </p>
  <table class="table">
    <!-- Similar structure as above for Nieodbyte rezerwacje -->
  </table>
</ng-container>

      
<button (click)="resetSearch()">Wyczyść</button>

  