<div class="service-edit-container">
    <h2>Edytuj usługę</h2>
    <form [formGroup]="serviceForm" (ngSubmit)="updateService()">
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Nazwa usługi</mat-label>
        <input matInput type="text" formControlName="name" required />
        <mat-error *ngIf="serviceForm.get('name')?.hasError('required')">To pole jest wymagane.</mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Opis</mat-label>
        <textarea matInput formControlName="description" required></textarea>
        <mat-error *ngIf="serviceForm.get('description')?.hasError('required')">To pole jest wymagane.</mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Cena</mat-label>
        <input matInput type="text" formControlName="price" required />
        <mat-error *ngIf="serviceForm.get('price')?.hasError('required')">To pole jest wymagane.</mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Czas trwania (minuty)</mat-label>
        <input matInput type="text" formControlName="duration" required />
        <mat-error *ngIf="serviceForm.get('duration')?.hasError('required')">To pole jest wymagane.</mat-error>
      </mat-form-field>
  
      <div class="form-group">
        <button type="submit" mat-raised-button color="primary" [disabled]="serviceForm.invalid">Zaktualizuj usługę</button>
      </div>
    </form>
  </div>
  