.dashboard-content {
  text-align: center;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  
  margin-top: 50px;
  border: 1px solid #ddd;
  background-image: url(../../../../../assets/tło.jpg);
  background-size: 1500px;
}

.dashboard-content h1 {
  font-size: 24px;
  font-weight: bold;
  margin: 20px 0;
  color: #333;
  
}

.dashboard-content p {
  font-size: 18px;
  margin: 10px 0;
  color: #555;
}

.dashboard-content button {
  background-color: white;
  color: #555;
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
}

.dashboard-content button:hover {
  background-color: whitesmoke;
}

.events-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  background-image: url(../../../../../assets/tło.jpg);
  background-size: 1500px;
}

.events-container h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.event-item {
  width: 80%;
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
  text-align: left;
}

.event-item h3 {
  font-size: 18px;
  font-weight: bold;
  color: #555;
}

.event-item p {
  font-size: 16px;
  margin: 10px 0;
  color: #777;
}

.event-item button {
  background-color: #3498db;
  color: white;
  font-size: 16px;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.event-item button:hover {
  background-color: #2980b9;
}
