<div class="dashboard-content">
  <h1>Witaj na stronie naszego salonu fryzjerskiego!</h1>
  <p>Cieszymy się, że jesteś częścią naszego zespołu! Jesteśmy podekscytowani, że dołączyłeś do naszego salonu fryzjerskiego. Twoja obecność i zaangażowanie mają ogromne znaczenie dla naszej społeczności.</p>
  <p>Razem tworzymy miejsce, które oferuje nie tylko najlepsze usługi fryzjerskie, ale także przyjazną atmosferę, w której nasi klienci czują się komfortowo i zrelaksowani.</p>
  <p>Jesteśmy dumni z osiągnięć naszego zespołu i zadowolenia naszych klientów. Dziękujemy Ci za Twoją pracę, pasję i dedykację, które przyczyniają się do sukcesu naszego salonu.</p>
  <p>Mamy nadzieję, że każdy dzień spędzony w naszym salonie będzie dla Ciebie pełen satysfakcji i inspiracji do tworzenia nowych, fantastycznych fryzur!</p>
  <p>Miłego dnia!</p>
  <button mat-button (click)="goToIndividualProfile()">Przejdź do szczegółowego profilu</button>
</div>
<br>
<br>
<br>
<br>
<div class="events-container">
  <h2>Nadchodzące Wydarzenia</h2>
  <div class="event-item">
    <h3>Impreza Pracownicza</h3>
    <p>Data: 15 stycznia 2024</p>
    <p>Zapraszamy wszystkich fryzjerów na naszą coroczną imprezę pracowniczą. Będzie to doskonała okazja do integracji zespołu!</p>
  </div>
  <div class="event-item">
    <h3>Tydzień Nowych Fryzur</h3>
    <p>Data: 22-28 stycznia 2024</p>
    <p>Zaplanowaliśmy specjalny tydzień, podczas którego będziemy prezentować najnowsze trendy w świecie fryzur. Dołącz do nas!</p>
  </div>
  <div class="event-item">
    <h3>Konkurs Kreatywności</h3>
    <p>Data: 5 lutego 2024</p>
    <p>Zachęcamy wszystkich fryzjerów do udziału w naszym konkursie kreatywności! Wykaż swoje umiejętności i zdobądź fantastyczne nagrody.</p>
  </div>
  <div class="event-item">
    <h3>Spotkanie Networkingowe</h3>
    <p>Data: 12 lutego 2024</p>
    <p>Zapraszamy na spotkanie networkingowe, gdzie będziesz mógł/mogła poznać innych fryzjerów i wymienić się doświadczeniem.</p>
  </div>
  
</div>
