<div *ngIf="!isAdminLoggedIn && ! isUserLoggedIn && ! isHairdresserLoggedIn && isPaymentPage">
  <mat-toolbar color="primary" class="navbar">
    <span class="navbar-brand-header" (click)="navigateToHome()" >Salon Fryzjerski Aura</span>
    <span class="spacer"></span>
    <button mat-button  routerLink="/login" routerLinkActive="active">Logowanie</button>
    <button mat-button routerLink="/registration" routerLinkActive="active">Rejestracja</button>
  </mat-toolbar>
</div>

 <div *ngIf="isAdminLoggedIn " >
  <mat-toolbar color="primary" class="navbar">
    <span class="navbar-brand">ADMIN</span>
    <span class="spacer"></span>
    <button mat-button  routerLink="/admin/dashboard" routerLinkActive="active">Strona główna</button>
    <button mat-button routerLink="/admin/addHairdresser" routerLinkActive="active">Dodaj fryzjera</button>
    <button mat-button routerLink="/admin/addService" routerLinkActive="active">Dodaj usługę</button>
    <button mat-button (click)="logout()" routerLinkActive="active">Wyloguj</button>
  </mat-toolbar>
</div>

<div *ngIf="isUserLoggedIn && isPaymentPage">
  <mat-toolbar color="primary" class="navbar">
    <span class="navbar-brand">Salon Fryzjerski Aura - sesja aktywna</span>
    <span class="spacer"></span>
      <button mat-button routerLink="user/dashboard" routerLinkActive="active">Strona Główna</button>
      <button mat-button routerLink="user/notifications" routerLinkActive="active">Powiadomienia</button>
      <button mat-button routerLink="user/yourreservations" routerLinkActive="active">Twoje Rezerwacje</button>
     
      <button mat-button (click)="logout()" routerLinkActive="active">Wyloguj</button>
    
  </mat-toolbar>
</div>


<div *ngIf="isHairdresserLoggedIn">
  <mat-toolbar color="primary" class="navbar">
    <span class="navbar-brand">Salon Fryzjerski Aura  - sesja dla fryzjera</span>
    <span class="spacer"></span>
    <button mat-button  routerLink="hairdresser/dashboard" routerLinkActive="active">Strona główna</button>

    <button mat-button (click)="logout()" routerLinkActive="active">wyloguj</button>
  </mat-toolbar>
</div>


<router-outlet></router-outlet> 

<div *ngIf="isHomePage()" class="about-salon">
  <h2 class="header">Salon Fryzjerski Aura</h2>
  <p class="header-description">
    Salon Fryzjerski "Aura" to miejsce, w którym każdy krok stawiany jest w celu podkreślenia Twojej wyjątkowej urody. Nasz salon to oaza relaksu i odnowy, gdzie piękno spotyka się z profesjonalizmem.
Nasi doświadczeni fryzjerzy i stylistki doskonale rozumieją, że Twoje włosy są nieodłącznym elementem Twojej tożsamości, dlatego dbamy o każdy detal, abyś opuszczał nasz salon z satysfakcją i pewnością siebie.
W "Aura" oferujemy szeroki zakres usług, obejmujący cięcia, koloryzację, fryzury okolicznościowe i wiele innych. Nasza pasja do fryzjerstwa i modnego stylu jest widoczna w każdym naszym działaniu.
Nasze przestronne wnętrza i przyjazna atmosfera sprawiają, że każda wizyta w "Aura" to wyjątkowe przeżycie. Dlatego niezależnie od tego, czy jesteś tu na regularne zabiegi pielęgnacyjne, czy na specjalną okazję, zapewniamy Ci komfort i najlepsze usługi.
Pracujemy wyłącznie z najwyższej jakości produktami i nowoczesnym sprzętem, aby dostarczyć Ci fryzjerskie doznania na najwyższym poziomie. Twoje zadowolenie jest dla nas najważniejsze, dlatego przykładamy wszelkich starań, aby spełnić Twoje oczekiwania.
Dołącz do nas już dziś i pozwól "Aura" zadbać o Twój wygląd. Razem stworzymy fryzurę, która podkreśli Twoją naturalną urodę i pozwoli Ci poczuć się pięknie i pewnie każdego dnia.
</p>
<p class="header-description">
    Profesjonalizm i doświadczenie pracowników salonu fryzjerskiego "Aura" to nasza największa duma. Każdy z naszych specjalistów jest starannie wykwalifikowany i poddawany regularnym szkoleniom, aby zapewnić najwyższą jakość usług.
Nasza reputacja opiera się na zadowoleniu klientów, dlatego dbamy o to, aby każda wizyta w naszym salonie była wyjątkowa. Nie musisz nam podawać szczegółowych informacji o Twoich oczekiwaniach - doskonale pamiętamy Twoje preferencje i potrzeby.
W "Aura" nie musisz szukać konkretnego stylisty, bo każdy z naszych pracowników jest ekspertem w swojej dziedzinie. Zarówno manicure, pedicure, jak i strzyżenie czy koloryzacja włosów są wykonywane na najwyższym poziomie.

Dzięki naszemu profesjonalizmowi i pasji do fryzjerstwa możesz być pewien, że opuszczasz nasz salon zadowolony z efektu. Dołącz do nas już dziś i przekonaj się, dlaczego salon fryzjerski "Aura" to miejsce, które spełni Twoje oczekiwania."
</p>
<br>
<br>
<br>
<br>

<app-services-list></app-services-list>


<br>
<br>
<br>
     <div class = "hairdressers-information">
      <h2 class="header"> Poznaj naszych fryzjerów !  </h2>
    
     </div>
     <app-hairdressers-list></app-hairdressers-list>

<br>
<div class="image-container">
  <h2 class="header"> Przeprowadzone metamorfozy </h2>
  <div class="row">
    <div class="image">
      <img src="assets/metamorphosis1.jpg" alt="Opis zdjęcia 1" >
    </div>
    <div class="image">
      <img src="assets/metamorphosis2.jpg" alt="Opis zdjęcia 2" >
    </div>
    <div class="image">
      <img src="assets/metamorphosis3.jpg" alt="Opis zdjęcia 3" >
    </div>
  </div>

  <div class="row">
    <div class="image">
      <img src="assets/metamorphosis4.jpg" alt="Opis zdjęcia 4" >
    </div>
    <div class="image">
      <img src="assets/metamorphosis5.jpg" alt="Opis zdjęcia 5">
    </div>

    <div class="image">
      <img src="assets/metamorphosis6.jpg" alt="Opis zdjęcia 6" >
    </div>
  </div>
  <app-reviews-list></app-reviews-list>
</div>
<div class="contact-information">
  <h2 class="header">Kontakt</h2>
  <p>Kraków</p>
  <br>
  <p>ul. św. Wawrzyńca 49 lok. 12 31-160 Kraków</p>
  <br>
  <p>Godziny otwarcia :</p>
  <p> Poniedziałek: 10 - 17 </p>
  <p> Wtorek: 10 - 17</p>
  <p> Środa: 10 - 17</p>
  <p> Czwartek: 10 - 17</p>
  <p> Piatek: 10 - 17</p>
  <br> 
  <p> Tel. kom.: (+48) 575 306 066</p>
</div>

<div class="newsletter-form">
  <h2>Zapisz się do newslettera</h2>
  <form [formGroup]="emailForm" (ngSubmit)="sendEmail()">
    <mat-form-field appearance="fill">
      <mat-label>Twój adres e-mail</mat-label>
      <input matInput formControlName="email" type="email" required>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Zapisz się</button>
  </form>
</div>

</div>