<body>
  <div class="service-details-container" *ngIf="serviceDetails">
    <h2 class="service-details-title">{{ serviceDetails.name }}</h2>
    <p class="service-details-description">{{ serviceDetails.description }}</p>
    <p class="service-details-price">Cena: {{ serviceDetails.price }} zł</p>
    <p class="service-details-duration">Czas trwania: {{ serviceDetails.duration }} minut</p>
    <button class="service-details-button" (click)="goBack()">Wróć do strony głównej</button>
    <br>
    <br>
    <button class="service-details-button" (click)="bookService()">Wybierz usługę</button>
  </div>
</body>
