
.body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url(../../../../../assets/tło.jpg);
  background-size: 1600px;
}

.notifications-container {
    max-width: 600px;
    margin: auto;
    
  }
  
  .notification-card {
    border: 1px solid #ddd;
    margin-bottom: 16px;
    padding: 16px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .notification-card p {
    margin: 8px 0;
  }
  
  .no-notifications {
    text-align: center;
    color: #555;
    margin-top: 16px;
  }
  
  
  .notifications-header {
    text-align: center;
    font-size: 24px;
    margin-bottom: 16px;
    color: #333;
  }
  .notification-time {
    color: #888;
    font-size: 12px; 
  }
  