
<div class="body">
<div class="notifications-container">
  <div *ngIf="groupedNotifications.length > 0; else noNotifications">
    <h2 class="notifications-header">Powiadomienia</h2>
    <div *ngFor="let group of groupedNotifications" class="notification-group">
      <p>Powiadomienia z dnia: {{ group.date }}</p>
      <div *ngFor="let notification of group.notifications" class="notification-card">
        <div class="notification-content">
          <p class="notification-message">{{ notification.message }}</p>
          
        </div>
      
      </div>
    </div>
  </div>

  <ng-template #noNotifications>
    <p class="no-notifications">Brak powiadomień.</p>
  </ng-template>
</div>
</div>