<div class="modal" [class.show]="isVisible">
  <div class="modal-content">
    <label for="newDate">Nowa data:</label>
    <mat-form-field appearance="fill">
      <input matInput [matDatepicker]="picker" placeholder="Wybierz datę" [(ngModel)]="newDate" required [min]="minDate" [matDatepickerFilter]="dateFilter">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <div>
      <label for="time"> Godzina  : </label>
      <select id="time" name="time" [(ngModel)]="Data.time" required>
          <option *ngFor="let time of availableTimes" [value]="time">{{ time }}</option>
      </select>
  </div>
    <button (click)="changeDate()">Zmień datę</button>
    <button mat-button (click)="closeModal()">Anuluj</button>
  </div>
</div>



    
      

