<body>
<div class="date-container">
    <h2>Wybierz godzinę i datę</h2>

    <form (ngSubmit)="submitForm()" #dateForm="ngForm">
        <mat-form-field>
            <input matInput [matDatepicker]="datepicker" placeholder="Wybierz datę" [(ngModel)]="Data.date" name="date" required [min]="minDate" [matDatepickerFilter]="dateFilter">
            <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
            <mat-datepicker #datepicker></mat-datepicker>
        </mat-form-field>

        <div>
            <label for="time"> Godzina  : </label>
            <select id="time" name="time" [(ngModel)]="Data.time" required>
                <option *ngFor="let time of availableTimes" [value]="time">{{ time }}</option>
            </select>
        </div>
        <br>

        <button type="submit" mat-raised-button color="primary" [disabled]="!dateForm.valid || errorMessage">Przejdź do płatności</button>
    </form>

    <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
        <button type="button" mat-button color="warn" (click)="resetAndShowInterest()">Wybierz inny termin </button>
    </div>
    
</div>
</body>