

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url(../../../../../assets/tło.jpg);
  background-size: 1600px;
}
.payment-container {
  max-width: 600px;
  margin: 0 auto;
  

}

.payment-details {
  margin-top: 20px;
}

h2 {
  text-align: center;
}

label {
  display: block;
  margin-bottom: 8px;
}

select,
input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.credit-card-input input {
  font-family: monospace;
}

.bank-info {
  display: flex;
  align-items: center;
}

.bank-logo {
  width: 100px;
  margin-right: 10px;
}

.card-holder-details input,
.expiry-cvv-details input {
  width: 48%;
  display: inline-block;
  margin-right: 2%;
}

button {
  background-color: #555;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.payment-message {
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
}
