<div class="edit-hairdresser-form">
    <h2>Edytuj Fryzjera</h2>
    <form (submit)="updateHairdresser()" #editForm="ngForm">
      <div class="form-group">
        <label for="name">Imię</label>
        <input type="text" id="name" name="name" [(ngModel)]="hairdresser.name" required>
      </div>
  
      <div class="form-group">
        <label for="description">Opis</label>
        <textarea id="description" name="description" [(ngModel)]="hairdresser.description"></textarea>
      </div>
  
      <div class="form-group">
        <label for="experience">Doświadczenie / Umiejętności</label>
        <textarea id="experience" name="experience" [(ngModel)]="hairdresser.experience"></textarea>
      </div>
  
      <div class="form-group">
        <label for="workingHours">Godziny pracy</label>
        <input type="text" id="workingHours" name="workingHours" [(ngModel)]="hairdresser.workingHours">
      </div>
  
      <button type="submit">Zapisz zmiany</button>
    </form>
  </div>
  