<div class = "hairdresser-container">
<div *ngFor="let hairdresser of hairdressers" class="hairdresser-item">
    <h2 class="hairdresser-name">{{ hairdresser.name }}</h2>
    <p class="hairdresser-description">{{ hairdresser.description }}</p>
    <p class="hairdresser-email">Email: {{ hairdresser.email }}</p>
    <p class="hairdresser-experience">Doświadczenie: {{ hairdresser.experience }} lat</p>
    <p class="hairdresser-phone">Telefon: {{ hairdresser.phoneNumber }}</p>
    <p class="hairdresser-working-hours">Godziny pracy: {{ hairdresser.workingHours }}</p>
    <button (click)="selectHairdresser(hairdresser.id)" class="select-button">Wybierz fryzjera</button>
</div>
</div>