
.body {
  background-image: url(../../../../../assets/tło.jpg);
  background-size: 1600px;
}
.reservation-container {
  max-width: 800px;
  margin: 0 auto;
 
}

h2 {
  color: #333;
}

h3 {
  color: #555;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 20px;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
}

.reservation-details {
  font-size: 16px;
}

.alert-message {
  color: #e44d26;
}

.cancelled-message {
  color: #999; 
}

.rejected-message {
  color: #e44d26; 
}

button {
  padding: 8px 16px;
  margin-right: 10px;
  cursor: pointer;
  background-color: #4caf50; 
  color: white;
  border: none;
  border-radius: 4px;
}

button:hover {
  background-color: #45a049;
}


.pending-reservation {
  background-color: #ffeb3b; 
}

.upcoming-reservation {
  background-color: #2196f3; 
  color: white;
}

.completed-reservation {
  background-color: #4caf50; 
  color: white;
}

.canceled-reservation {
  background-color: #f44336; 
  color: white;
}
