<div class="body">
<div class="reservation-container">
  <h2>Twoje rezerwacje</h2>

  <div *ngIf="areReservationsAvailable(); else noReservations">
    <div *ngIf="pendingReservations.length > 0">
      <h3>Niepotwierdzone rezerwacje</h3>
      <ul>
        <li *ngFor="let reservation of pendingReservations">
          <div class="reservation-details">
            <p><strong>Data rezerwacji:</strong> {{ reservation.date | date: 'medium' }}</p>
            <p><strong>Godzina rezerwacji:</strong> {{ reservation.time }}</p>
            <p *ngIf="reservation.hairdresserInfo"><strong>Fryzjer:</strong> {{ reservation.hairdresserInfo.name }}</p>
            <p *ngIf="reservation.serviceInfo"><strong>Usługa:</strong> {{ reservation.serviceInfo.name }}</p>
            <p><strong>Status:</strong> {{ reservation.status }}</p>
            <p *ngIf="reservation.alertMessage" class="alert-message">{{ reservation.alertMessage }}</p>
            <div *ngIf="canModifyReservation(reservation)">
              <button (click)="changeReservationDate(reservation)">Zmień termin rezerwacji</button>
              <button *ngIf="shouldDisplayCancel(reservation)" (click)="cancelReservation(reservation); updateReservationData()">Zrezygnuj</button>
            </div>
            <br>
            <p *ngIf="reservation.status === 'Zrezygnowano'" class="cancelled-message">Zrezygnowałeś z rezerwacji.</p>
            <p *ngIf="reservation.status === 'Odrzucona'" class="rejected-message">
              Przepraszamy, rezerwacja została odrzucona. Prosimy spróbować ponownie lub skontaktować się z salonem.
            </p>
          </div>
        </li>
      </ul>
    </div>

    <div *ngIf="upcomingReservations.length > 0">
      <h3>Nadchodzące rezerwacje</h3>
      <ul>
        <li *ngFor="let reservation of upcomingReservations">
          <div class="reservation-details">
            <p><strong>Data rezerwacji:</strong> {{ reservation.date | date: 'medium' }}</p>
            <p><strong>Godzina rezerwacji:</strong> {{ reservation.time }}</p>
            <p *ngIf="reservation.hairdresserInfo"><strong>Fryzjer:</strong> {{ reservation.hairdresserInfo.name }}</p>
            <p *ngIf="reservation.serviceInfo"><strong>Usługa:</strong> {{ reservation.serviceInfo.name }}</p>
            <p><strong>Status:</strong> {{ reservation.status }}</p>
            <p *ngIf="reservation.alertMessage" class="alert-message">{{ reservation.alertMessage }}</p>
            <div *ngIf="canModifyReservation(reservation)">
              <button (click)="changeReservationDate(reservation)">Zmień termin rezerwacji</button>
              <button *ngIf="shouldDisplayCancel(reservation)" (click)="cancelReservation(reservation); updateReservationData()">Zrezygnuj</button>
            </div>
            <br>
            <p *ngIf="reservation.status === 'Zrezygnowano'" class="cancelled-message">Zrezygnowałeś z rezerwacji.</p>
            <p *ngIf="reservation.status === 'Odrzucona'" class="rejected-message">
              Przepraszamy, rezerwacja została odrzucona. Prosimy spróbować ponownie lub skontaktować się z salonem.
            </p>
          </div>
        </li>
      </ul>
    </div>

    <div *ngIf="completedReservations.length > 0">
      <h3>Minione rezerwacje</h3>
      <ul>
        <li *ngFor="let reservation of completedReservations">
          <div class="reservation-details">
            <p><strong>Data rezerwacji:</strong> {{ reservation.date | date: 'medium' }}</p>
            <p><strong>Godzina rezerwacji:</strong> {{ reservation.time }}</p>
            <p *ngIf="reservation.hairdresserInfo"><strong>Fryzjer:</strong> {{ reservation.hairdresserInfo.name }}</p>
            <p *ngIf="reservation.serviceInfo"><strong>Usługa:</strong> {{ reservation.serviceInfo.name }}</p>
            <p><strong>Status:</strong> {{ reservation.status }}</p>
            <p *ngIf="reservation.alertMessage" class="alert-message">{{ reservation.alertMessage }}</p>
            <div *ngIf="canModifyReservation(reservation)">
              <button (click)="changeReservationDate(reservation)">Zmień termin rezerwacji</button>
              <button *ngIf="shouldDisplayCancel(reservation)" (click)="cancelReservation(reservation); updateReservationData()">Zrezygnuj</button>
            </div>
            <br>
            <p *ngIf="reservation.status === 'Zrezygnowano'" class="cancelled-message">Zrezygnowałeś z rezerwacji.</p>
            <p *ngIf="reservation.status === 'Odrzucona'" class="rejected-message">
              Przepraszamy, rezerwacja została odrzucona. Prosimy spróbować ponownie lub skontaktować się z salonem.
            </p>
            
            
            <div *ngIf="reservation.reviewInfo && reservation.status === 'Odbyta' && !isReviewSectionVisible">
              <h4> Wystawiona opinia na temat danej rezerwacji : </h4>
              <p><strong>Ocena:</strong> {{ reservation.reviewInfo.rating }}</p>
              <p><strong></strong> {{ reservation.reviewInfo.comment }}</p>
              <button (click)="editReview(reservation)">Edytuj opinię</button>
              <button (click)="deleteReview(reservation)">Usuń opinię</button>
            </div>
            
            
            <button *ngIf="(!reservation.reviewInfo || isReviewSectionVisible) && reservation.status === 'Odbyta'" (click)="openReviewPage(reservation)">Dodaj opinię</button>
          </div>
        </li>
      </ul>
    </div>
    
    <div *ngIf="canceledReservations.length > 0">
      <h3>Odrzucone/Zrezygnowane rezerwacje</h3>
      <ul>
        <li *ngFor="let reservation of canceledReservations">
          <div class="reservation-details">
            <p><strong>Data rezerwacji:</strong> {{ reservation.date | date: 'medium' }}</p>
            <p><strong>Godzina rezerwacji:</strong> {{ reservation.time }}</p>
            <p *ngIf="reservation.hairdresserInfo"><strong>Fryzjer:</strong> {{ reservation.hairdresserInfo.name }}</p>
            <p *ngIf="reservation.serviceInfo"><strong>Usługa:</strong> {{ reservation.serviceInfo.name }}</p>
            <p><strong>Status:</strong> {{ reservation.status }}</p>
            <p *ngIf="reservation.alertMessage" class="alert-message">{{ reservation.alertMessage }}</p>
            <div *ngIf="canModifyReservation(reservation)">
              <button (click)="changeReservationDate(reservation)">Zmień termin rezerwacji</button>
              <button *ngIf="shouldDisplayCancel(reservation)" (click)="cancelReservation(reservation); updateReservationData()">Zrezygnuj</button>
            </div>
            <br>
            <p *ngIf="reservation.status === 'Zrezygnowano'" class="cancelled-message">Zrezygnowałeś z rezerwacji.</p>
            <p *ngIf="reservation.status === 'Odrzucona'" class="rejected-message">
              Przepraszamy, rezerwacja została odrzucona. Prosimy spróbować ponownie lub skontaktować się z salonem.
            </p>
            <p *ngIf="reservation.status === 'Nieodbyta'" class="cancelled-message">Przykro nam, za niepojawienie się w naszym salonie. Prosimy szanować nasz czas.</p>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <ng-template #noReservations>
    <p>Brak rezerwacji.</p>
  </ng-template>
</div>

<app-change-reservation-date-model
  [isVisible]="isChangeDateModalVisible"
  (onClose)="onCloseChangeDateModal()"
  (onChangeDate)="onChangeDateModal($event)"
  [selectedReservation]="selectedReservationForDateChange"
></app-change-reservation-date-model>
</div>